.location {position: relative;
  &-city {display: block; margin-bottom: 10px; font-size: 2.75rem;
    &-form {position: absolute; top: 0; left: 0; border-radius: 8px; box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
      background-color: #fff; padding: 20px;
    }
    &-input {border: 0; outline: 0; font-size: 2.75rem; line-height: 1; color: #000;}
    &-submit-button {font-size: 2.75rem; line-height: 1; color: #009bff;}
  }
  &-change-button {margin-right: 40px;}

  @media screen and (max-width: 767px) {
    &-city-input {width: 100%;}
  }
}
