<div *ngIf="weather" class="page-container">
  <header class="page-header">
    <app-header [currentCity]="currentCity"
                [errorMessage]="errorMessage"
                [currentTemperatureScale]="currentTemperatureScale"
                (updatedCity)="updatedCityHandler($event)"
                (updatedTemperatureScale)="updatedTemperatureScaleHandler($event)">
    </app-header>
  </header>

  <main class="page-main">
    <app-current-weather [weather]="weather"></app-current-weather>
  </main>

  <footer class="page-footer">
    <app-footer [weather]="weather"
                [currentTemperatureScale]="currentTemperatureScale">
    </app-footer>
  </footer>
</div>

<div *ngIf="!weather" class="loading-spinner">
  <span>Loading...</span>
</div>
